.contentContainer {
  margin-top: 54px
}

.memeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding-bottom: 12px;
}

.memeContainer {
   display: block;
   aspect-ratio: 1;
   border-radius: 2px;
   border: 2px solid transparent;
}

.memeContainer:hover  {
  border: 2px solid #34a9f8;
}

.memeImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.searchContainer {
  display: flex;
  align-items:center;
  position: fixed;
  height: 54px;
  padding-right: 12px;
  padding-left: 12px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: white;
}